:root {
  --main-bg-color: #fff;
  --sub-bg-color: #000;
  --main-text-color: #000;
  --sub-text-color: #fff;
  --inactive: #818181;
  --success: #bee3be;
  --link-color: blue;
  --accent-color: #ff0000;
  --active: #6bff21;

  --first-brand-color: #72a02a;
  --second-brand-color: #1b2019;
  --third-brand-color: #151714;

  --main-font: 'Ysabeau';
  --title-font: 'Ysabeau Bold';

  font-size: 62.5%;
}
